
.vs/PipeReaderUtility/xs/UserPrefs.xml
PipeReaderUtility/bin/Debug/netcoreapp3.1/PipeReaderUtility.dll
PipeReaderUtility/bin/Debug/netcoreapp3.1/PipeReaderUtility.pdb
PipeReaderUtility/obj/Debug/netcoreapp3.1/PipeReaderUtility.dll
PipeReaderUtility/obj/Debug/netcoreapp3.1/PipeReaderUtility.pdb
PipeReaderUtility/obj/Debug/netcoreapp3.1/PipeReaderUtility.csproj.FileListAbsolute.txt
PipeReaderUtility/obj/Debug/netcoreapp3.1/PipeReaderUtility.csproj.AssemblyReference.cache
.vs/PipeReaderUtility/xs/UserPrefs.xml
